<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>3.00</string>
	<string>3.45</string>
	<string>3.68</string>
	<string>3.74</string>
	<string>3.77</string>
	<string>3.79</string>
	<string>3.82</string>
	<string>3.87</string>
	<string>3.92</string>
	<string>3.98</string>
	<string>4.06</string>
	<string>4.20</string>
</array>
</plist>
